/* Custom CSS file to apply changes to the theme built into Stanspals.co.uk */
.our-friends-wrapper {
  margin: 0px;
  padding: 0px;
  text-align: center;
  height: 32px;
}

.our-friends-hr {
  border: 1px solid #ccc;
  width: 39%;
  height: 1px;
  margin-top: 14px;
}

.our-friends-hr hr {
  height: 0px;
}

.our-friends-hr-left {
  float: left;
}

.our-friends-hr-right {
  float: right;
}

.our-friends-header h2 {
  float: left;
  width: 20%;
  text-align: center;
  margin: auto;
}

.friends-logos {
  min-width: 920px;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.friends-logos p {
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", "Droid Serif", serif;
  font-weight: 700;
}

body {
  background-color: rgb(150,200,200);
  font-family: "Comic Sans MS", "Droid Sans", "Comic Sans", "Open Sans", "sans-serif";
}

#header {
  margin-bottom: 30px;
}

#main {
  padding: 0px;
  margin-top: 60px;
}

ul.inline li.socialmedia_share-default {
  float: right;
  margin: 0px 20px;
}

/* Experimental follows*/

#wrap {
  border-top-width: 0;
}

#navigation {
  position: fixed;
  width: 100%;
  border-top: 35px solid rgb(150,200,200);
  background-color: white;
}

#main-menu {
  float: right;
}

/* Menu */

#main-menu .menu a.active,
#main-menu .menu ul a.active {
  background: rgb(150,200,200);
}

#main-menu .menu a.active-trail {
  background: rgb(150,200,200);
}

#sitename h1 a: hover,
#sitename h2 a: hover {
  color: rgb(150,200,200);
}

/* Menu Hover */

#main-menu .menu a: focus,
#main-menu .menu a: hover,
#main-menu .menu a: active,
#main-menu .menu ul a: focus,
#main-menu .menu ul a: hover,
#main-menu .menu ul a: active {
  background: rgb(150,200,200);
}

/* Link */
a: hover {
  color: rgb(150,200,200);
}

.links li a: hover,
.field-name-field-tags a: hover {
  color: rgb(170,230,230);
}


#logo {
  position: fixed;
  z-index: 5;
}

/* Flexible width */

#wrap {
  min-width: 920px;
  width: 80%;
}

#main-menu {
  margin-right: 20px;
}

body.sidebar-first #post-content {
  float: left;
  min-width: 620px;
  width: 70%;
}

.teaser-body-left {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  margin-top: 5px;
}

.teaser-image-right {
  width: 30%;
  margin-left: 20px;
  margin-top: 5px;
  display: inline-block;
}

.node-blog {
  min-height: 450px;
  border-bottom: 5px solid #96c8c8;
}
.node-teaser {
  border-bottom: 5px solid #96c8c8;
}
.node-blog.node-teaser {
  min-height: 0px;
}

footer {
  min-height: 48px;
  margin-bottom: 5px;
  border-bottom: 5px solid #96c8c8;
}
.node-teaser footer {
  min-height: 0px;
  margin-bottom: 5px;
  border-bottom: 0px;
}
#contact-site-form {
  border-bottom: 5px solid #96c8c8;
  border-top: 5px solid #96c8c8;
}

@media all and (min-width: 1281px) {
  body.sidebar-first #post-content {
    width: 73%;
  }
  .teaser-body-left {
    width: 65%;
  }
  .teaser-image-right {
    width: 30%;
  }
}

@media all and (min-width: 1361px) {
  body.sidebar-first #post-content {
    width: 74%;
  }
  .teaser-body-left {
    width: 70%;
  }
  .teaser-image-right {
    width: 25%;
  }
}

@media all and (min-width: 1601px) {
  body.sidebar-first #post-content {
    width: 78%;
  }
  .teaser-body-left {
    width: 75%;
  }
  .teaser-image-right {
    width: 20%;
  }
}

@media all and (min-width: 1900px) {
  body.sidebar-first #post-content {
    width: 80%;
  }
  .teaser-body-left {
    width: 80%;
  }
  .teaser-image-right {
    width: 15%;
  }
}

#slider {
  margin: auto;
}

.field.field-name-field-image.field-type-image.field-label-hidden.blog-image-previews div {
  float: left;
  margin: 2px;
}

.form-submit {
  background: #96c8c8 none repeat scroll 0% 0%;
  border-color: #588a8a;
}
.form-submit: hover {
  background: #0067bf;
}

#widgets-element-socialmedia_share-default a {
  margin: 2px;
}
#block-widgets-s-socialmedia-profile-default.block-widgets a {
  margin: 14px;
}

#sliding-popup.sliding-popup-bottom {
  background: #96c8c8;
  border-top: 5px solid #0067bf;
}
#sliding-popup .popup-content #popup-text h2 {
  font-size: 24px;
}
#sliding-popup .popup-content #popup-text p {
  font-size: 20px;
}
#sliding-popup .popup-content #popup-buttons button {
  font-size: 20px;
}
/*Dynamic scaling elements for small screens*/

@media all and (max-width: 640px) {
  .form-text {
    width: 400px;
    max-width: 600px;
  }
  .node {
    margin-bottom: 5px;
    padding-bottom: 5px;
  }
  .submitted {
    border-radius: 2px;
    font-size: 13px;
    margin: 0px 2px;
    padding: 2px 4px;
  }

  /*Page outline elements*/
  #wrap {
    border-top: 10px solid #96c8c8;
    margin: 0px;
    min-width: 0px;
    padding: 0px;
    width: 100%;
  }
  body {
    font-size: 16px;
  }
  h2,
  h3 {
    margin: 0px 2px;
  }
  #logo {
    margin: 0px;
    margin-right: 10px;
    padding: 0px;
    position: relative;
    width: 200px;
    z-index: initial;
  }
  #logo img {
    width: 100%;
  }
  #header {
    margin-bottom: 10px;
    border-bottom: 5px solid #96c8c8;
  }
  #main {
    margin-top: 0px;
  }
  .region-content {
    padding: 0px 5px;
  }
  html body.admin-menu {
    margin-top: 0px !important;
  }
  body.sidebar-first #post-content {
    min-width: 0px;
    width: 640px;
  }

  /*Front page content teaser*/
  ul.inline li.socialmedia_share-default {
    margin: 0px;
  }
  .teaser-body-left {
    display: block;
    margin-top: 2px;
    width: 100%;
  }
  .teaser-image-right {
    display: block;
    margin: 0px;
    width: 100%;
  }
  .node-teaser {
    border-bottom: 5px solid #96c8c8;
  }

  /*Blog Page changes*/
  .blog-image-previews img {
    max-width: 300px;
  }
  .fb-comments.fb_iframe_widget iframe {
    max-width: 600px;
  }

  /*Main menu changes*/
  #main-menu {
    margin: 0px;
    padding: 0px;
    width: 430px;
  }
  #main-menu li {
    width: 215px;
  }
  #main-menu .menu {
    margin-bottom: 0px;
  }
  #main-menu .menu a {
    font-size: 16px;
    padding: 0.8em 0.5em;
  }
  #navigation {
    border: 0px;
    float: right;
    height: auto;
    position: relative;
    width: 430px;
  }

  /* Rescale sidebar and move below content*/
  #sidebar {
    float: right;
    width: 640px;
  }
  #sidebar .block {
    margin-bottom: 5px;
  }
  #sidebar .block h2 {
    border-bottom: 5px solid #96c8c8;
    margin-bottom: 2px;
    padding-bottom: 2px;
  }
  #widgets-element-socialmedia_profile-default {
    padding: 0px 10px;
    width: 640px;
  }
  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    float: left;
    padding: 0px 30px;
    min-width: 260px;
  }

  /* Hide additional redundant links in mobile mode*/
  ul.inline li.node-readmore,
  ul.inline li.blog_usernames_blog {
    display: none;
  }

  /*resize links section*/
  .friends-logos {
    margin: 0px;
    min-width: 0px;
    padding: 0px;
    width: 100%;
  }
  .our-friends-header h2 {
    float: left;
    margin: auto;
    text-align: center;
    width: 160px;
  }
  .our-friends-hr {
    width: 238px;
  }

  /*EU cookie compliance popup*/
  #sliding-popup .popup-content {
    max-width: 95%;
  }
  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 5px;
  }
  #sliding-popup .popup-content #popup-buttons button {
    font-size: 16px;
    width: 130px;
    margin: 15px 15px;
  }
  #sliding-popup {
    min-height: 40%;
  }
  #sliding-popup .popup-content #popup-text h2 {
    font-size: 18px;
  }
  #sliding-popup .popup-content #popup-text p {
    font-size: 16px;
  }

  /*Sizing for homepage slideshow, slider currently hidden pending re-theming*/
  .image_reel {
    left: 0px;
    position: absolute;
    top: 0px;
  }
  .main_view {
    float: left;
    position: relative;
  }
  .window {
    height: 165px;
    overflow: hidden;
    position: relative;
    width: 480px;
  }
  #slider {
    display: none;
    height: 180px;
    margin: 0px;
    padding: 0px;
    position: relative;
    width: 480px;
  }
}

@media all and (max-width: 480px) {
  #navigation,
  #main-menu,
  #main-menu li {
    width: 270px;
  }
  body.sidebar-first #post-content,
  #sidebar,
  #widgets-element-socialmedia_profile-default {
    width: 480px;
  }
  .fb-comments.fb_iframe_widget iframe {
    max-width: 460px;
  }
  #logo {
    margin-right: 10px;
  }
  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    float: initial;
    padding: 0px 110px;
  }
  .our-friends-header h2 {
    width: 160px;
  }
  .our-friends-hr {
    width: 98px;
  }
  .form-text {
    width: 300px;
    max-width: 460px;
  }
  #sliding-popup .popup-content {
    max-width: 100%;
  }
  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }
  #sliding-popup .popup-content #popup-buttons button {
    margin: 0px 13px;
  }
}

@media all and (max-width: 360px) {
  body.sidebar-first #post-content,
  #navigation,
  #main-menu,
  #main-menu li,
  #sidebar,
  #widgets-element-socialmedia_profile-default {
    width: 360px;
  }
  .fb-comments.fb_iframe_widget iframe {
    max-width: 340px;
  }
  #logo {
    margin-right: 120px;
  }
  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    padding: 0px 40px;
  }
  .our-friends-header h2 {
    width: 160px;
  }
  .our-friends-hr {
    width: 98px;
  }
  .form-text {
    width: 340px;
  }
  #sliding-popup .popup-content {
    max-width: 100%;
  }
  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }
  #sliding-popup .popup-content #popup-buttons button {
    margin: 0px 13px;
  }
}

@media all and (max-width: 320px) {
  body.sidebar-first #post-content,
  #navigation,
  #main-menu,
  #main-menu li,
  #sidebar,
  #widgets-element-socialmedia_profile-default {
    width: 320px;
  }
  .fb-comments.fb_iframe_widget iframe {
    max-width: 300px;
  }
  #logo {
    margin-right: 120px;
  }
  #block-widgets-s-twitter-user-timeline-widget,
  #block-widgets-s-facebook-like-box {
    padding: 0px 20px;
  }
  .our-friends-header h2 {
    width: 160px;
  }
  .our-friends-hr {
    width: 77px;
  }
  .form-text {
    width: 300px;
  }
  #sliding-popup .popup-content {
    max-width: 100%;
  }
  #sliding-popup .popup-content #popup-text,
  #sliding-popup .popup-content #popup-text p {
    margin-bottom: 0px;
  }
  #sliding-popup .popup-content #popup-buttons button {
    margin: 0px 13px;
  }
}

@media all and (max-width: 480px) {
  #admin-menu-wrapper {
    display: none;
  }
}

.view-staff td {
  border: none;
  margin: 0px;
  padding: 10px;
  width: 50%;
  background: transparent;
  vertical-align: top;
}
.view-staff tbody {
  border: none;
  margin: 0px;
  padding: 0px;
}
.view-staff table {
  border: none;
  margin: 0px;
  padding: 0px;
  background: transparent;
}

.view-staff h3 a {
  color: #2e7;
}

.view-staff h3 a: hover {
  color: rgb(150,200,200);
}

.views-field-field-image img {
  float: left;
  margin: 3px;
}
